/*
    Student Name: Blake Prescott
    File Name: styles.css
    Date: 5/5/2025
*/

/*
	Colors:
		Main Color (Golden Yellow): #FFB808

		Black: #000000

		White: #FFFFFF

		Off-White: #F5F5F5

		Dark Charcoal: #1A1A1A

		Medium Gray: #999999

		Cool Navy: #1B2A41

		Slate Blue: #4A6FA5

		Rust Red: #D14900

		Muted Teal: #3B9C9C
*/

/* Begin Mobile Styles */

/* Show mobile class, hide tablet-desktop class and menu-links id */
.mobile {
    display: block;
}

.tablet-desktop {
    display: none;
}

/* Style rules for Nav bar */

nav {
    background-color: #FFB808;
    color: #1A1A1A;
}

.nav-link {
	font-size: 2em;
}

.navbar-dark .navbar-brand {
    color: #1A1A1A;
}

.navbar-dark .navbar-nav .nav-link {
    color: #1A1A1A;
}

.lab-rat-logo {
    height: 50px;
    margin-right: 1em;
}

header {
    background-color: #FFB808;
    color: #1A1A1A;
}

header h2 {
    padding-top: 3em;
    padding-bottom: 1em;
    font-size: 3em;
    
    text-align: left;
    color: #CCCCCC;
}

header .container {
    margin-right: auto;
}

body {
    background-color: #1A1A1A;
    font-family: "Barlow Condensed", serif;
    padding-top: 4%;
}

/* Style rules for main */
main {
    color: #1A1A1A;
}

.content {
	margin: 45px 1em 0px 1em;
    padding: .25em 1em;
    background-color: #CCCCCC;
    color: #1A1A1A;
    border-radius: 5px;
    margin-bottom: .25em;
    box-shadow: 4px 4px #1B2A41;
}

.content img {
    max-width: 100%;
    max-height: 600px;
    margin: 1em auto;
    border-radius: .5em;
    box-shadow: 3px 3px #1B2A41;
}

.content div .text-content {
    margin-top: auto;
    margin-bottom: auto;
    color: #1A1A1A;
}

div .content-subheader {
    background-color: #CCCCCC;
    margin: 1em auto 1em auto;
    padding-left: 1em;
}

.content .content-header {
    margin: auto;
    padding-left: 1em;

}

.content .content-subheader h2, h3, label, legend{
    color: #1A1A1A;
}

.content .content-subheader p{
    color: #1A1A1A;
}

.about-content {
	font-size: 1.5em;
	margin: 1em auto;
	padding: 1em;
	background-color: #1B2A41;
	color: #FFB808;
	border-radius: .5em;
	border: 4px  solid black;
}


video {
    max-width: 100%;
    display: block;
}

/* Style rules for footer */

footer {
    background-color: #1A1A1A;
    height: 5%;
}

/* Style rules for table */

table {
    background-color: #CCCCCC;
    font-size: 1.25em;
    box-shadow: 4px 4px black;
}

table .vanguard-icon {
    padding: 0;
}

table td {
    vertical-align: middle;
}

/* Style rules for hero image and header */
.hero {
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.7)),url(../images/lab-rat-hero.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.welcome {
    position: absolute;
    top: 30%;
    width: 100%;
    /*margin: auto;*/
    margin-left: 0em;
    padding: 2em;
    background-color: #1B2A41;
    border-radius: .25em;
    border: 5px solid #1A1A1A;
}

.welcome h1 {
    font-size: 6em;
    /*width: 70%;*/
    color: #FFB808;
    text-shadow: 4px 4px black;
}

.welcome p {
	font-size: 1.5em;
	
	color: #FFB808;
}

.welcome-content {
	/*height: 20%;
	width: 45%;*/
	background-color: #1A1A1A;
	padding: 1em;
	border-radius: .25em;
}

.hoverable {
	transition: all .2s ease-in-out;
}

.hoverable:hover {
	transform: scale(1.05);
}

/* Style rule for labels */
label {
    display: block;
    padding-top: 3%;
}

/* Media Query for Tablet Viewport */
@media (min-width: 768px) {  

    /* Tablet Viewport: Show tablet-desktop class, hide mobile class */
    .tablet-desktop {
        display: block;
    }

    .mobile {
        display: none;
    }

    .welcome {
    	width: 90%;
    	margin-left: 5%;
    }
    
     /* Tablet Viewport: Style rule for form element */
    form {
        width: 80%;
        margin: 0 auto;
    }

}

/* Media Query for Desktop Viewport */
@media (min-width: 992px) {  

	.welcome {
    	width: 30%;
    }

    /* Desktop Viewport: Style rules for form */
    form {
        width: auto;
        margin-bottom: 2%;
    }
    
    .form-grid {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-gap: 20px; 
    }
    
    .btn {
        grid-column: 1 / span 3;
    }

}

/* Font Family Styles */
.barlow-condensed-regular {
  font-family: "Barlow Condensed", serif;
  font-weight: 400;
  font-style: normal;
}

.barlow-condensed-semibold {
  font-family: "Barlow Condensed", serif;
  font-weight: 600;
  font-style: normal;
}

.barlow-condensed-bold {
  font-family: "Barlow Condensed", serif;
  font-weight: 700;
  font-style: normal;
}